@model IEnumerable<DemoWebApplication.BatchMaster>

<h4>Batch master</h4>
<br />
<p>@Html.ActionLink("Add New Batch", "Create")</p>
<br />
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
@{ 
    if (TempData["DeleteMsg"] != null)
    {
        <script type="text/javascript">
            alert(@Html.Raw(Json.Encode(TempData["DeleteMsg"])));
        </script>
    }
}
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(x => x.BatchName)</th>

        <th>@Html.DisplayNameFor(x => x.Discription)</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@Html.DisplayFor(x => item.BatchName)</th>
            <th>@Html.DisplayFor(x => item.Discription)</th>
            <th>
                @Html.ActionLink("Edit", "Edit", new { id = item.BatchId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.BatchId })
            </th>
        </tr>
    }

</table>
@*@using (Html.BeginForm())
{
    <input type="button" ID="btnconfirm" runat="server" Value="Edit" onclick=" return confirmToDelete()" />
}*@

<script type="text/Javascript" language="javascript">


    function confirmToDelete( batch_id) {
        if (confirm("Do you want to delete this batch") == true) {
                 @Html.ActionLink("Delete", "Delete")
            //$.ajax({
            //    url: 'Delete',
            //    data: { id, id }
            //}).done(function () {
            //    alert('Deleted')
            //});

            //document.writeln("<b>You had click on 'YES' Button</b>");
        }
        else {
            // document.writeln("<b>You had clic on 'NO' Button</b>");
        }
    }


</script>
