@*@model IEnumerable<DemoWebApplication.ItemDetail>*@
@model IPagedList<DemoWebApplication.ItemDetail>

@using PagedList;
@using PagedList.Mvc;

<h2>Item Details</h2>
@{
    if (ViewBag.Message != null)
    {
        <script>
            alert(@Html.Raw(Json.Encode(ViewBag.Message)));
        </script>
    }
}
@Html.AntiForgeryToken()
<p>
    @Html.ActionLink("Create New Item", "Create")
</p>
@using (Html.BeginForm("Index", "ItemDetail", FormMethod.Get))
{
    <input type="text" name="search" id="txt_search" />
    <input type="submit" value="Search" name="submit" />
}
<br />
<table class="table">
    <tr>
        <th>@Html.DisplayName("Sr No") </th>
        <th>@Html.DisplayNameFor(x => x.First().ItemName)</th>
        <th>@Html.DisplayNameFor(x => x.First().ItemType)</th>
        <th>@Html.DisplayNameFor(x => x.First().Godown)</th>
        <th>@Html.DisplayNameFor(x => x.First().BatchName)</th>
        <th>@Html.DisplayNameFor(x => x.First().Unit)</th>
        <th>@Html.DisplayNameFor(x => x.First().DiscPer)</th>
        <th>@Html.DisplayNameFor(x => x.First().HsnCode)</th>
        <th>@Html.DisplayNameFor(x => x.First().Expirydate)</th>
        <th>@Html.DisplayNameFor(x => x.First().PurchasePrice)</th>
        <th>@Html.DisplayNameFor(x => x.First().MRP)</th>
        <th>@Html.DisplayNameFor(x => x.First().OpeningStock)</th>
        <th>@Html.DisplayNameFor(x => x.First().ClosingStock)</th>
        <th></th>
    </tr>
    @if (Model.Count() == 0)
    {
        <h2>No Data To Show !</h2>
    }
    else
    {
        int srno= 1 + Model.PageSize * (Model.PageNumber - 1);
     

        foreach (var item in Model)
        {
            <tr>
                <th>@srno </th>
                <th>@Html.DisplayFor(x => item.ItemName)</th>
                <th>@Html.DisplayFor(x => item.ItemType)</th>
                <th>@Html.DisplayFor(x => item.Godown)</th>
                <th>@Html.DisplayFor(x => item.BatchName)</th>
                <th>@Html.DisplayFor(x => item.Unit)</th>
                <th>@Html.DisplayFor(x => item.DiscPer)</th>
                <th>@Html.DisplayFor(x => item.HsnCode)</th>
                <th>@Html.DisplayFor(x => item.Expirydate)</th>
                <th>@Html.DisplayFor(x => item.PurchasePrice)</th>
                <th>@Html.DisplayFor(x => item.MRP)</th>
                <th>@Html.DisplayFor(x => item.OpeningStock)</th>
                <th>@Html.DisplayFor(x => item.ClosingStock)</th>
                <th>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ItemdetailId })|
                    @Html.ActionLink("Delete", "Delete", new { id = item.ItemdetailId }, new { onclick = "return Validation();" })
                </th>
            </tr>
            srno += 1;
        }
    }
       
</table>
@Html.PagedListPager(Model, i => Url.Action("Index", "ItemDetail", new { i, search = Request.QueryString["search"] }))
<script type="text/javascript">
    function Validation() {
        if (confirm("Do you want to delete this record !") == true) {
            return true;
        } else {
            return false;
        }
    }
</script>
