@model IEnumerable<DemoWebApplication.ItemType>

<h4>Item Types</h4>
<br />
<p>@Html.ActionLink("Create New Item Type", "Create")</p>
<br />
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(x => x.TypeName)</th>

        <th>@Html.DisplayNameFor(x => x.Details)</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@Html.DisplayFor(x => item.TypeName)</th>
            <th>@Html.DisplayFor(x => item.Details)</th>
            <th>
                @Html.ActionLink("Edit", "Edit", new { id = item.TypeId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TypeId })
            </th>
        </tr>
    }

</table>
@using (Html.BeginForm())
{
<input type="button" ID="btnconfirm" runat="server" Value="Confrimation MsgBox"
            onclick =" return confirm_meth()"  />
}

<script type="text/Javascript" language="javascript">
   

    function confirm_meth() {
        if (confirm("Do you want to continue!Click 'YES'") == true) {
            document.writeln("<b>You had click on 'YES' Button</b>");
        }
        else {
            document.writeln("<b>You had clic on 'NO' Button</b>");
        }
    }
</script>
