
@model DemoWebApplication.ItemMaster

<script src="~/Scripts/MyJs.js"></script>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class=" form-horizontal" id="myDIV">
        <h4>Create New Item</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ItemCode)
        <div class="form-group">
            @Html.LabelFor(model => model.ItemName, "Item Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class=" col-md-10">
                @Html.EditorFor(model => model.ItemName, new { htmlattributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ItemName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class=" form-group ">
            @Html.LabelFor(model => model.ItemType, "Item Type", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ItemType, new { htmlattributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ItemType, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group ">
            @Html.LabelFor(model => model.HSNCODE, "HSN Code", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HSNCODE, new { htmlAttributes = new { @class = "form-control", id = "txt_Hsncode" } })
                @Html.ValidationMessageFor(x => x.HSNCODE, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group ">
            @Html.LabelFor(model => model.GstPer, "GST %", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GstPer, new { htmlattributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GstPer, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" id="btn_Save" runat="server" onclick="btn_Save_Click" OnClientClick="return Validations();" />
                <input type="button" value="Cancle" class="btn btn-default" id="btn_Cancle" onclick="ClearAllItem()" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">@Html.Raw(ViewBag.Alert)</div>
            </div>
        </div>
        <p>
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
}
<script>
    $(document).ready(function () {
        $('#btn_Save').click(function () {
            var hsncode = $('#txt_Hsncode').text();
            if (hsncode == '') {
                alert("Please Enter HSN Code For Item");
                ViewBag.Alert = CommonServices.ShowAlert(Alerts.Alert.Warning, "Please Enter HSN Code For Item");
                return false;
            }
        });
    });
</script>

@*@if (ViewBag.Message != null)   // replace alert with Bootstrap alert Msg
    {
        <script type="text/javascript">
                window.onload = function () {
                    alert("@ViewBag.Message");
                };
        </script>
    }*@



