@model IEnumerable<DemoWebApplication.ItemMaster>
<h4>All items</h4>
<p>
    @Html.ActionLink("Create New Item","AddItem")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(x=>x.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(x=>x.ItemType)
        </th>
        <th>
            @Html.DisplayNameFor(x=>x.HSNCODE)
        </th>
        <th>
            @Html.DisplayNameFor(x=>x.GstPer)
        </th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <th>
               @Html.DisplayFor(x=>item.ItemName)
            </th>
            <th>
               @Html.DisplayFor(x=>item.ItemType)
            </th>
            <th>
               @Html.DisplayFor(x=>item.HSNCODE)
            </th>
            <th>
               @Html.DisplayFor(x=>item.GstPer)
            </th>
            <th>
                @Html.ActionLink("Edit", "Edit", new { id=item.ItemCode}) | 
                @Html.ActionLink("Delete", "Delete", new { id=item.ItemCode})
            </th>
        </tr>

    }
</table>